form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#submit {
    width: 60px;
    background-color: white;
    margin: auto;

}

#submit:hover {
    color: brown;
    background-color: gray;
}

#text {
    border-radius: 10px;
    margin-bottom: 10px;
    
}

#email{
    border-radius: 10px;
    margin-bottom: 10px;
}

#text:focus {
    outline: 0ch;
    border-style: none;
}

#email:focus {
    outline: 0ch;
    border-style: none;
}
#password{
    border-radius: 10px;
}
#password:focus{
    outline: 0;
    border-style: none;

}